
/*
Цветовая схема ( http://colorscheme.ru/#3q11Tw0w0w0w0 ):


*/


/* === Вспомогательные классы ================================================================= */

@media print { .no_print { display: none; } }
@media screen { .no_screen { display: none; } }

.padding10
{
	padding: 5px 10px;
}

.padding30
{
	padding: 20px 30px;
}

.button
{
	background-color: #3AA6D0;
	border-radius: 2px;
	box-shadow: -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	color: white;
	font-weight: bold;
	
}

div.state-error
{
	background-color: red;
	border-radius: 4px;
	color: white;
	margin-top: 10px;
	padding: 5px;
	
}

input.state-error
{
	border: 1px solid #FFA0A0 !important;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5)  !important;
	
}


/* === Общая разметка ================================================================= */

*
{
	box-sizing: border-box;
	
}

body
{
	background-color: #0776A0;
	font-size: 12pt;
	margin: 0px;
	
}

a
{
	color: #024C68;
	
}

a img
{
	border: none;
	
}


.header_frame
{
	background-color: #0776A0;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	position: fixed;
	width: 100%;
	
}


.header_frame > .header
{
	background-color: white;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
	margin: auto;
	width: 1000px;
	
}


.header_frame > .header > .title
{
	font-size: 3em;
	padding: 20px 30px;
	
}

.header_frame > .header > .title > a
{
	color: black;
	text-decoration: none;
	
}


.header_frame > .header > .menu
{
	border-top: 1px solid #0776A0;
	margin: 0px 5px;
	
}

.header_frame > .header > .menu > ul
{
	font-family: Verdana;
	font-size: 0.8em;
	margin: 0px;
	padding: 0px 10px;
	
}

.header_frame > .header > .menu > ul > li
{
	cursor: pointer;
	float: left;
	list-style: none;
	margin: 5px;
	padding: 10px 20px;
	
}

.header_frame > .header > .menu > ul > li.highlight
{
	background-color: #00B945;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	color: white;
	font-weight: bold;
	
}

.header_frame > .header > .menu:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	
}

.header_frame > .header > .menu > .login
{
	background: url(../images/businessman_24.png) left no-repeat;
	float: right;
	margin: 5px;
	padding: 10px 7px 10px 27px;
	
}


.header_spacer
{
	height: 190px;
	
}


.main_frame
{
	margin: auto;
	width: 1000px;
	
}


.footer
{
	margin: 20px auto;
	text-align: center;
	width: 1000px;
	
}


/* === Вход на сайт ================================================================= */

.main_frame > .login
{
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
	padding: 30px;
	
}

.main_frame > .login > .header
{
	font-size: 1.5em;
	padding: 10px;
	text-align: center;
	
}

.main_frame > .login > .content
{
	border: 1px solid #808080;
	margin: 0px auto 100px auto;
	padding: 25px;
	text-align: center;
	width: 330px;
	
}

.main_frame > .login > .content > p > input
{
	border: 1px solid #606060;
	border-radius: 2px;
	padding: 5px;
	width: 250px;
	
}

.main_frame > .login > .content > .action
{
	text-align: center;
	
}

.main_frame > .login > .content > .action > input
{
	margin-right: 20px;
	padding: 7px 18px;
	
}


/* === Заказы ================================================================= */

.orders .item
{
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
	
}

