
/*
Цветовая схема ( http://colorscheme.ru/#3q11Tw0w0w0w0 ):


*/


/* === Вспомогательные классы ================================================================= */

@media print { .no_print { display: none; } }
@media screen { .no_screen { display: none; } }

.button
{
	background-color: #3AA6D0;
	border-radius: 2px;
	box-shadow: -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	color: white;
	font-weight: bold;
	
}

div.state-error
{
	background-color: red;
	border-radius: 4px;
	color: white;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	
}

input.state-error
{
	border: 1px solid #FFA0A0 !important;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5)  !important;
	
}

div.state-success
{
	background-color: #37DC74;
	border-radius: 4px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	
}

input.ajax
{
	background-color: transparent !important;
	background-image: url(../images/ajax_loader_blue_32.gif);
	background-position: center;
	background-repeat: no-repeat;
	
}


/* === Общая разметка ================================================================= */

*
{
	box-sizing: border-box;
	
}

body
{
	background-color: #0776A0;
	font-size: 12pt;
	margin: 0px;
	
}

a
{
	color: #024C68;
	
}

a img
{
	border: none;
	
}


.header_frame
{
	background-color: #0776A0;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	position: fixed;
	width: 100%;
	
}


.header_frame > .header
{
	background-color: white;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
	margin: auto;
	width: 1000px;
	
}


.header_frame > .header > .title
{
	font-size: 3em;
	padding: 20px 30px;
	
}

.header_frame > .header > .title > a
{
	color: black;
	text-decoration: none;
	
}


.header_frame > .header > .menu
{
	border-top: 1px solid #0776A0;
	margin: 0px 5px;
	
}

.header_frame > .header > .menu > ul
{
	float: left;
	font-family: Verdana;
	font-size: 0.8em;
	margin: 0px;
	padding: 10px 0px;
	
}

.header_frame > .header > .menu > ul > li
{
	cursor: pointer;
	float: left;
	list-style: none;
	padding: 5px;
	
}

.header_frame > .header > .menu > ul > li > a
{
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	
}

.header_frame > .header > .menu > ul > li.highlight > a
{
	background-color: #00B945;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	color: white;
	font-family: Verdana;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	
}

.header_frame > .header > .menu > ul:after,
.header_frame > .header > .menu:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	
}

.header_frame > .header > .menu > .login
{
	background: url(../images/businessman_24.png) left no-repeat;
	float: right;
	margin: 5px;
	padding: 10px 7px 10px 27px;
	
}


.header_spacer
{
	height: 190px;
	
}


.main_frame
{
	margin: auto;
	width: 1000px;
	
}


.footer
{
	margin: 20px auto;
	text-align: center;
	width: 1000px;
	
}


/* === Шаблон страниц ================================================================= */

.main_frame > .simple_page
{
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
	padding: 30px;
	
}

.main_frame > .simple_page > .header
{
	font-size: 1.5em;
	padding: 10px;
	text-align: center;
	
}

.main_frame > .simple_page > .content
{
	margin: 0px auto 100px auto;
	padding: 25px;
	
}

.main_frame > .simple_page > .content > p > input
{
	border: 1px solid #606060;
	border-radius: 2px;
	padding: 5px;
	width: 250px;
	
}

.main_frame > .simple_page > .content > table
{
	border-collapse: collapse;
	text-align: left;
	
}

.main_frame > .simple_page > .content > table td
{
	padding: 7px 20px;
	vertical-align: middle;
	
}

.main_frame > .simple_page > .content > .action
{
	margin-top: 20px;
	text-align: center;
	
}

.main_frame > .simple_page > .content > .action > input
{
	margin-right: 20px;
	padding: 7px 18px;
	
}


/* === login (Вход на сайт) ================================================================= */

.main_frame > .login > .content
{
	border: 1px solid #808080;
	text-align: center;
	width: 330px;
	
}


/* === orders (Заказы) ================================================================= */

.main_frame > .pager
{
	margin-bottom: 20px;
	text-align: center;
	
}

.main_frame > .pager > .page
{
	background-color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	display: inline;
	margin-right: 5px;
	padding: 5px 8px;
	
}

.main_frame > .pager > .page.current > a
{
	text-decoration: none;
	
}

.main_frame > .pager > .spacer
{
	color: white;
	display: inline;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 5px;
	
}


.main_frame > .orders.empty
{
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
	padding: 40px;
	text-align: center;
	
}

.main_frame > .orders.empty > .content
{
	background-color: #FFBC73;
	border-radius: 4px;
	
}

.main_frame > .orders.error
{
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
	padding: 40px;
	text-align: center;
	
}

.main_frame > .orders.error > .content
{
	background-color: pink;
	border-radius: 4px;
	
}


.main_frame > .orders > .item,
.main_frame > .orders-item
{
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	margin-bottom: 20px;
	padding: 20px 30px;
	
}

.main_frame > .orders > .item > .header h2,
.main_frame > .orders-item > .header h2
{
	margin: 0.4em 0em 0.8em 0em;
	
}

.main_frame > .orders > .item > .content,
.main_frame > .orders-item > .content
{
	text-align: justify;
	white-space: pre-wrap;
	
}

.main_frame > .orders > .item > .content p,
.main_frame > .orders-item > .content p
{
	margin: 0;
	
}

.main_frame > .orders > .item > .action,
.main_frame > .orders-item > .action
{
	margin: 20px 0;
	
}

.main_frame > .orders > .item > .action > a,
.main_frame > .orders-item > .action > input
{
	background-color: #00B945;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	color: white;
	font-family: Verdana;
	font-size: 0.8em;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	
}

.main_frame > .orders > .item > .info,
.main_frame > .orders-item > .info
{
	font-family: Verdana;
	font-size: 0.7em;
	margin: 0.8em 0em 0.4em 0em;
	padding: 5px 0;
	
}

.main_frame > .orders > .item > .info > .date,
.main_frame > .orders-item > .info > .date
{
	color: gray;
	display: inline;
	padding-right: 10px;
	
}

.main_frame > .orders > .item > .info > .customer,
.main_frame > .orders-item > .info > .customer
{
	color: #FF8500;
	display: inline;
	font-weight: bold;
	padding-right: 20px;
	
}

.main_frame > .orders > .item > .info > .price,
.main_frame > .orders-item > .info > .price
{
	color: red;
	display: inline;
	font-family: serif;
	font-size: 1.5em;
	font-weight: bold;
	
}


.main_frame > .orders-add > .content
{
	width: 700px;
	
}

.main_frame > .orders-add > .content > .error_string
{
	margin: 10px auto 0px auto;
	width: 600px;
	
}

.main_frame > .orders-add > .content > table td input
{
	border: 1px solid #606060;
	border-radius: 2px;
	padding: 5px;
	width: 490px;
	
}

.main_frame > .orders-add > .content > table td input#order_price
{
	width: 100px;
	
}

.main_frame > .orders-add > .content > table td textarea
{
	border: 1px solid #606060;
	border-radius: 2px;
	height: 200px;
	padding: 5px;
	width: 604px;
	
}


.main_frame > .orders-item
{
	padding-bottom: 20px;
	
}

.main_frame > .orders-item > .action > input,
.main_frame > .orders-item > .action > div
{
	margin-right: 10px;
	
}

.main_frame > .orders-item .error_string,
.main_frame > .orders-item .success_string
{
	border: 1px solid transparent;
	display: inline;
	
}


/* === register (Регистрация) ================================================================= */

.main_frame > .register > .content
{
	border: 1px solid #808080;
	text-align: center;
	width: 600px;
	
}


.main_frame > .register > .content > table td input
{
	border: 1px solid #606060;
	border-radius: 2px;
	padding: 5px;
	width: 250px;
	
}


.main_frame > .register > .content > table td input.checkbox
{
	width: inherit;
	
}

